<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{block "title" .}}{{ or .MD.Frontmatter.Title .SiteData.Title }}{{end}}</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/sakura.css" type="text/css">
  <link rel="stylesheet" href="/static/css/lumaca.css" type="text/css">
</head>

<body>
  <h1><a href="/">{{.SiteData.Title}}</a></h1>
  {{block "header" .}}<h2>Post title</h2>{{end}}
  {{block "content" .}}Post content{{end}}
  {{block "index" .}}{{end}}
</body>

</html>